<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/common/adminCommon/CSS/adminCommon.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>adminHeader</title>
</head>
<body>
        <div class="header">
            <div class="logo">
                <a href="#">
                    <img src="/src/main/resources/static/common/adminCommon/images/logo.png"/>
                </a>
            </div>
            <div class="title">
                <a href="#">Management System</a>
            </div>
            <div class="user-info">
                <div class="user-name">홍길동</div>
                <button type="button" class="button-login">Log Out</button>
            </div>
        </div>
</body>
</html>