<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/common/userCommon/CSS/userCommon.css">
    <script type="text/javascript" src="/src/main/resources/static/common/userCommon/js/userCommon.js"></script> 
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <title>userHeader</title>
</head>
<body>
    <!-- header -->
    <div id="header">
        <img id="logo" src="/src/main/resources/static/common/userCommon/images/logo.png">
        <div class="for people">
            <div class="category">For People</div>
            <div class="items">
                <div class="item">
                    <img src="/src/main/resources/static/common/userCommon/images/education.png" class="icon">
                    <button type="button" class="button" id="education">교육 프로젝트</button>
                </div>
                <div class="item">
                    <img src="/src/main/resources/static/common/userCommon/images/disaster.png" class="icon">
                    <button type="button" class="button" id="disaster">자연 재해 지원 프로젝트</button>
                </div>
                <div class="item">
                    <img src="/src/main/resources/static/common/userCommon/images/environment.png" class="icon">
                    <button type="button" class="button" id="environment">환경 보호 프로젝트</button>
                </div>
                <div class="item">
                    <img src="/src/main/resources/static/common/userCommon/images/medical.png" class="icon">
                    <button type="button" class="button" id="medical">의료 지원 프로젝트</button>
                </div>
             </div>
        </div>
        <div class="for animals">
            <div class="category">For Animals</div>
            <div class="items">
                <div class="item">
                    <img src="/src/main/resources/static/common/userCommon/images/dog.png" class="icon">
                    <button type="button" class="button" id="organic">유기 동물 보호 프로젝트</button>
                </div>
                <div class="item">
                    <img src="/src/main/resources/static/common/userCommon/images/dolphin.png" class="icon">
                    <button type="button" class="button" id="wild">야생 동물 보존 프로젝트</button>
                </div>
                <div class="item">
                    <img src="/src/main/resources/static/common/userCommon/images/paws.png" class="icon">
                    <button type="button" class="button" id="pet">반려 동물 케어 프로젝트</button>
                </div>
            </div>
        </div>
        <div class="for manager">
            <div class="category"><img id="manager" src="/src/main/resources/static/common/userCommon/images/manager.png">For Manager</div>
        </div>
        <div id="container">
        <div class="search">
            <input type="text" placeholder="제목으로 프로젝트 검색 :)" id="search-bar">
            <img id="find" src="/src/main/resources/static/common/userCommon/images/find.png">
        </div>
        <button type="button" class="userStatus" id="log-in">Log In</button>
        <button type="button" class="userStatus" id="my-page">My Page</button>
        <button type="button" id="start-project">프로젝트 신청</button>
        </div>
    </div>

    <!-- to-top button -->
    <a href="#">
    <img src="/src/main/resources/static/common/userCommon/images/to-top-button.png" id="to-top">
    </a>
    
</body>
</html>