<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/admin/user/CSS/userList.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>회원관리</title>                    
</head>
<body>
    <div class="content">

        <div class="content1">
            <div class="menu-title">회원 관리</div>
            <div class="searchbar">
                <form id="searchForm" action="" method="get">
                    <select class="sort">
                        <option value="email">회원번호</option>
                        <option value="email">아이디</option>
                        <option value="userNm">이름</option>
                        <option value="quitYn">탈퇴여부</option>
                    </select>
                    <input type="text" class="searchContent">
                    <button class="search-button" type="submit"><i class="bi bi-search"></i></button>
                </form>                  
            </div>
        </div>

        <div class="content2">
            <table>
                <tr>
                    <th class="table-header"><form><input type="checkbox" class="checkbox"/></form></th>
                    <th class="table-header">회원번호</th>
                    <th class="table-header">아이디</th>
                    <th class="table-header">회원이름</th>
                    <th class="table-header">가입일</th>
                    <th class="table-header">탈퇴일</th>
                    <th class="table-header">탈퇴여부</th>
                    <th class="table-header">상세정보</th>
                </tr>
                <tr class="table-content">
                    <td><form><input type="checkbox"/></form></td>
                    <td>us00000002</td>
                    <td>gildong123@greedy.com</td>
                    <td>홍길동</td>
                    <td>2022.12.19</td>
                    <td>2023.03.15</td>
                    <td>Y</td>
                    <td><button class="user-detail">조회</button></td>
                </tr>
                <tr class="table-content">
                    <td><form><input type="checkbox"/></form></td>
                    <td>us00000003</td>
                    <td>sinsa12343@greedy.com</td>
                    <td>신사임당</td>
                    <td>2021.05.02</td>
                    <td></td>
                    <td>N</td>
                    <td><button class="user-detail">조회</button></td>
                </tr>

            </table>
        </div>

        <div class="content3">
            <button class="user-delete">삭제</button>
        </div>

        <div class="content4">
            <ul class="pagination">
                <li class="prev"><a href=""><</a></li>
                <li calss="page1"><a href="">1</a></li>
                <li class="page2"><a href="">2</a></li>
                <li class="page3"><a href="">3</a></li>
                <li class="page4"><a href="">4</a></li>
                <li class="page5"><a href="">5</a></li>
                <li class="page6"><a href="">6</a></li>
                <li class="page7"><a href="">7</a></li>
                <li class="page8"><a href="">8</a></li>
                <li class="page9"><a href="">9</a></li>
                <li class="page10"><a href="">10</a></li>
                <li class="next"><a href="">></a></li>
            </ul>
        </div>




    </div>

</body>
</html>