<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/myPage/CSS/myInfo.pwd.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <title>MyInfo-Pwd</title>
</head>
<body>
    
    <div class="aside">
        
        <ul>
            <li><a class="menu-link" href="#myInfo">내 정보</a></li>
            <br>
            <li><a class="menu-link" href="#">보유 쿠폰</a></li>
            <br>
            <li><a class="menu-link" href="#">좋아요한 프로젝트</a></li>
            <br>
            <li><a class="menu-link" href="#">후원한 프로젝트</a></li>
            <br>
            <li><a class="menu-link" href="#">나의 프로젝트</a></li>
            <br>
            <br>
            <li><a class="menu-link" href="#">로그아웃</a></li>
            <br>
            <li><a class="menu-link" href="#withdrawal">회원탈퇴</a></li>
        </ul>
    </div>


    <h1 align="center">비밀번호 재설정</h1>
    <p align="center">
        이전과 다른 새로운 비밀번호를 입력해주세요.
    </p>

    <div class="pwd_resetting">
        <label for="updatePwd"></label>
        <input class="pwd" type="number" id="userPwd" name="userPwd" placeholder="변경할 비밀번호" required>
        <br>
        <br>
        <label for="updatePwd"></label>
        <input class="pwd" type="number" id="userPwd" name="userPwd" placeholder="변경할 비밀번호 재확인" required>
    </div>

    <br>
    
    <div class="btn-searchPwd_result">
        <button class="btn-searchPwd-result" id="searchPwd_result" type="submit">비밀번호 변경</button>
    </div>



</body>
</html>