<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet" />
    <link href="./css/main.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>

    <div="wrapper">
        <div class="v1_639"><span class="v13_48">FAQ </span>
        <div class="v14_36">
            <div class="v14_37"></div>
            <div class="v14_38"></div>
            <div class="v45_52"></div><span class="v14_sea">폐어망 업사이클링으로
                바다를 지키는 가방</span><span class="v14_45">330%</span><span class="v14_46">12,190,000원</span><span class="v14_47">블루밈밈</span>
            <div class="v45_47"></div>
        </div>
        <div class="v5_84">
            <div class="v5_85"></div>
            <div class="v5_86"></div><span class="v5_bee">꿀벌을 지키는 재밌고
                맛있는 쿠키</span>
            <div class="v5_90">
                <div class="v5_91"></div><span class="v5_92">3일 남음</span>
            </div><span class="v5_93">290%</span>
            <div class="v45_59"></div><span class="v5_94">5,177,000원</span><span class="v5_95">크리에이터스랩</span>
            <div class="v45_49"></div>
        </div>
        <div class="v5_96"></div>
        <div class="v13_49"></div>
        <div class="v13_50"></div>
        <div class="v13_51">
            <div class="v13_52"></div><span class="v13_53">To-Gather는 어떤 역할을 담당하나요?</span>
        </div>
        <div class="v13_54">
            <div class="v13_55"></div><span class="v13_56">회원가입을 해야만 펀딩에 참여할 수 있나요?</span>
        </div>
        <div class="v13_57">
            <div class="v13_58"></div><span class="v13_59">후원 및 결제 취소는 어떻게 하나요?</span>
        </div>
        <div class="v13_60">
            <div class="v13_61"></div><span class="v13_62">연말정산을 위해 기부금영수증이 필요합니다. </span>
        </div>
        <div class="v13_70"></div>
        <div class="v13_71"></div>
        <div class="v13_72">
            <div class="v13_73"></div><span class="v13_74">[ 안내 ] To-Gather 서비스 개선 사항 안내 </span>
        </div>
        <div class="v13_75">
            <div class="v13_76"></div><span class="v13_77">[ 모집 ] 스타트업 펀딩 지원 프로그램 참여 Maker 모집 </span>
        </div>
        <div class="v13_78">
            <div class="v13_79"></div><span class="v13_80">[ 안내 ] To-Gather SNS 광고 수수료 변경 및 정책 안내 </span>
        </div>
        <div class="v13_81">
            <div class="v13_82"></div><span class="v13_83">[ 안내 ] 배송 제한 지역 안내 </span>
        </div>
        <div class="v5_72">
            <div class="v5_73"></div>
            <div class="v5_74"></div><span class="v5_sep">주민들이 분리수거한
                페트병으로 만든 가방</span>
            <div class="v45_60"></div>
            <div class="v5_78">
                <div class="v5_79"></div><span class="v5_80">1일 남음</span>
            </div><span class="v5_81">325%</span><span class="v5_82">2,644,200원</span><span class="v5_83">LAR</span>
            <div class="v45_48"></div>
        </div>
        <div class="v5_61">
            <div class="v5_62"></div>
            <div class="v5_63"></div><span class="v5_pla">플라스틱을 대체하는
                리필용 종이팩 주방 세제</span>
            <div class="v5_66">
                <div class="v45_61"></div>
                <div class="v5_67"></div><span class="v5_68">6일 남음</span>
            </div><span class="v5_69">262%</span><span class="v5_70">2,969,500원</span><span class="v5_71">리필리</span>
            <div class="v45_31"></div>
        </div>
        <div class="v5_50">
            <div class="v5_51"></div>
            <div class="v5_52"></div>
            <div class="v45_62"></div><span class="v5_jean">청바지의 재탄생,
                업사이클 메신저백</span>
            <div class="v5_55">
                <div class="v5_56"></div><span class="v5_57">3일 남음</span>
            </div><span class="v5_58">234%</span><span class="v5_59">4,505,000원</span><span class="v5_60">B-BAG</span>
            <div class="v45_30"></div>
        </div>
        <div class="v14_24">
            <div class="v14_25"></div>
            <div class="v14_26"></div>
            <div class="v45_51"></div><span class="v14_woman">이주 여성이 지역
                특산물로 만든 천연 비누</span>
            <div class="v14_30">
                <div class="v14_31"></div><span class="v14_32">21일 남음</span>
            </div><span class="v14_33">128%</span><span class="v14_34">2,644,200원</span><span class="v14_35">이플아토</span>
            <div class="v45_46"></div>
        </div>
        <div class="v14_13">
            <div class="v14_14"></div>
            <div class="v14_15"></div>
            <div class="v45_50"></div><span class="v14_patriot">독립유공자 후손을 돕는불원복 태극기 팔찌</span>
            <div class="v14_18">
                <div class="v14_19"></div><span class="v14_20">34일 남음</span>
            </div><span class="v14_21">240%</span><span class="v14_22">3,701,000원</span><span class="v14_23">크래프트링크</span>
            <div class="v14_49"></div>
        </div><span class="v5_112">인기 프로젝트 </span><span class="v1_502">오늘의 프로젝트 </span>
        <div class="v5_119">
            <div class="v1_649"></div><span class="v1_650">가치를 나누는 일,
                함께 한다면
                어렵지 않아요</span>
            <div class="v1_651">
                <div class="v1_652"></div><span class="v1_653">프로젝트 시작하기</span>
            </div>
            <div class="v1_654">
                <div class="v1_655"></div><span class="v1_656">펀딩 시작하기</span>
            </div>
        </div>
        <div class="v14_2">
            <div class="v14_3"></div>
            <div class="v14_4"></div><span class="v14_dog">제주도 유기견을 돕는
                특별한 프로젝트</span>
            <div class="v14_8"></div>
            <div class="v46_6"></div>
            <div class="v14_7"><span class="v14_9">18일 남음</span></div><span class="v14_10">178%</span><span class="v14_11">2,888,690원</span><span class="v14_12">제주펫</span>
            <div class="v14_48"></div>
        </div>
        <div class="v45_27"></div>
        <div class="v46_5"></div><span class="v13_69">Notice </span>
        <div class="v13_63">
            <div class="v13_64"></div><span class="v13_65">후원 및 결제한 영수증이 필요합니다. </span>
        </div>
        <div class="v13_66">
            <div class="v13_67"></div><span class="v13_68">결제가 완료되었음을 어떻게 확인할 수 있나요?</span>
        </div>
        <div class="v13_84">
            <div class="v13_85"></div><span class="v13_86">[ 약관/정책 ] 개인정보처리방침 개정 </span>
        </div>
        <div class="v13_87">
            <div class="v13_88"></div><span class="v13_89">[ 안내 ] 카카오 장애로 인한 일부 서비스 장애 안내</span>
        </div>
        </div>
    </div>
</body>

</html>