@charset "UTF-8";

/* 모든 createProject 공통 속성 */
html {
    scroll-behavior: smooth;
    font-family: 'Do Hyeon', sans-serif;
    color: #535353;
    font-size: 100%;
    background-color: #F8F8F8;
}

.wrapper { /* wrapper는 해당 width를 가지고, 화면을 줄여도 위치를 가운데로 유지 */
    padding-top: 30px; /* header와의 gap */
    max-width: 1100px;
    margin: 0 auto; 
    display: flex;
    justify-content: center; /* 모든 요소 가운데 정렬 */
}

/* step 바 */
.steps {
    width: 200px;
    position: fixed;
    margin-left: -1200px;
    margin-top: 50px;
}

.steps a {
    text-decoration: none; /* 링크의 밑줄 제거 */ 
    color: inherit; /* 링크의 색상 제거 */
}

.step {
    font-size: 20px;
    color: #C2C2C2;
    margin: 0 auto;
    text-align : center;
}

.step-subject {
    font-size: 31px;
    margin-top: auto;
    padding: 5px;
    margin-bottom: 45px;
    cursor: pointer;
}

.step-subject:hover,
.running {
    color: #81AE64; 
}

.go { 
    height: 50px; /* 각 step페이지로의 이동을 위한 div의 높이 */
}

/* box */
.description {
    text-align: center;
    color: #81AE64;
    font-size: 28px;
    margin-left: 250px;
    margin-bottom: 10px;
}

.box {
    position: relative;
    border: 3px solid #709053;
    border-radius: 20px;
    width: 900px;
    height: auto;
    box-shadow: 20px 20px #FFF4C9;
    background-color: white;
    padding: 40px;
    margin-bottom: 200px;
    margin-left: 15%; /* box 위치 조절 */
}

.title {
    font-size: 20px;    
}

.input { /* 모든 input 클래스의 속성 */
    border-radius: 20px;
    border: 2px solid #F8F8F8;
    background-color: #F8F8F8;
    padding: 15px 30px;
    border: 1px solid #709053;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}

.input:focus {
    border: 2px solid #709053;
    outline: none;
}

.items div {
    margin: 0px 20px;
}



/* 최종 제출 버튼 */
.submit {
    font-family: 'Do Hyeon', sans-serif;
    color: white;
    font-size: 30px;
    background-color: #81AE64;
    border: 5px solid #81AE64;
    padding: 10px 35px;
    border-radius: 20px;
    margin-left: 500px;
    margin-bottom: 50px;
}

.submit:hover {
    color: #81AE64;
    background-color: white;
    cursor: pointer;
}


/* -------------------------------------------------------------------- */

/* step 1. Maker 정보 */
#profile-area {
    position: relative;
}

#preview-image {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

#real-file { /* 프리뷰 및 첨부파일을 커스텀 하기 위해 숨기기 */
    display: none;
}

.upload-name {
    display: none;
}

.plus {
    position: absolute;
    bottom: 9%;
    left: 1%;
    color: white;
    background-color: #81AE64;
    border-radius: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 10px 10px;
}

#plus-image {
    margin: -12px;
}

flex {
    display: flex;
}

