@charset "UTF-8";

html {
    scroll-behavior: smooth;
    font-family: 'Do Hyeon', sans-serif;
    color: #535353;
    font-size: 100%;
    background-color: #F8F8F8;
}

.wrapper { /* 모든 wrapper들은 해당 width를 가지고, 화면을 줄여도 위치를 가운데로 유지 */
    padding-top: 120px; /* header와의 gap */
    max-width: 1100px;
    margin: 0 auto; 
}

/* step 바 */
.steps {
    display: flex;
}

.step {
    font-size: 20px;
    color: #C2C2C2;
    margin: 0 auto;
    text-align : center;
}

.step-subject {
    font-size: 33px;
    margin-top: auto;
    padding: 10px;
    cursor: pointer;
}

.running {
    color: #81AE64; 
}


/* box */
.description {
    text-align: center;
    color: #81AE64;
    font-size: 23px;
}

.box {
    position: relative;
    border: 3px solid #709053;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    height: auto;
    box-shadow: 20px 20px #FFF4C9;
    background-color: white;
}

/* 모든 createProject 공통 속성 */
.next {
    position: absolute;
    bottom: 20px; /* 다음 버튼 위치 설정 */
    right: 20px;
    font-family: 'Do Hyeon', sans-serif;
    color: white;
    font-size: 30px;
    background-color: #81AE64;
    border: 5px solid #81AE64;
    padding: 10px 35px;
    border-radius: 20px;
}

.next:hover {
    color: #81AE64;
    background-color: white;
    cursor: pointer;
}



/* step 1. Maker 정보 */
#profile-area {
    position: relative;
}

#profile {
    width: 300px;
    height: 300px;
}

#real-file { /* 프리뷰 및 첨부파일을 커스텀 하기 위해 숨기기 */
    display: none;
}

.upload-name {
    display: none;
}

.plus {
    position: absolute;
    color: white;
    background-color: #81AE64;
    border-radius: 10px;
    cursor: pointer;
}


