@charset "UTF-8";

html {
    scroll-behavior: smooth;
    font-family: 'Do Hyeon', sans-serif;
    color: #535353;
    font-size: 100%;
}

.wrapper { /* 모든 wrapper들은 해당 width를 가지고, 화면을 줄여도 위치를 가운데로 유지 */
    padding-top: 120px; /* header와의 gap */
    max-width: 1100px;
    margin: 0 auto; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, minmax(10px, auto)); /* 컨텐츠에 맞게 해당 영역 자동으로 늘어남 */
    gap: 20px 40px;
    grid-template-areas: 
        "image info"
        "image info"
        "image info"
        "image info"
        "story-bar info"
        "story-body reward-bar"
        "story-body ."
        "story-body reward-body"
        "guide ."
        "reply reply ";
}

/* 대표 사진 */
.image {
    grid-area: image;

}

#main-image {
    width: 650px;
    height: 400px;
}

/* 프로젝트 정보 */
.info {
    border-left: 7px solid #709053;
    grid-area: info;
    padding: 0px 30px;
    padding-bottom: 0%; 
    height: 490px;
}

#days {
    border: 3px solid #709053;
    border-radius: 10px;
    width: 100px;
    padding: 2px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #709053;
    margin: 0px;
}

#title {
    padding: 0px;
    font-size: 45px;
    font-weight: lighter;
    margin: 15px 0px 5px 0px;
    line-height: 60px;
}

#funding {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}

#amount {
    font-size: 30px;
}

#percent {
    position: absolute;
    top: -40%;
    right: 0px;
    font-size: 50px;
    color: #709053;
}
#goal-box {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: right;
    border-top: 2px solid #DEDCDC; 
    margin: -5px 0px;
}

#goal {
    margin: 0px;
    font-size: 20px;
}

#maker {
    display: flex;
    border-radius: 20px;
    background-color: #F4F4F4;
    padding: 10px;
    margin: 20px 0px;
    height: 80px;
    align-items: center;
    cursor: pointer;
}

#maker-image {
    border-radius: 20px;
    width: 80px;
    align-items: center;
}

#maker-info {
    margin-left: 20px;
    line-height: 3px;
}

#maker-name {
    font-size: 23px;
}

#boxes {
    display: flex;
    gap: 10px;
}

#like-box {
    display: flex;
    border: 3px solid #F4F4F4;
    border-radius: 10px;
    align-items: center;
    padding: 0px 15px;
    width: 170px;
    height: 60px;
}

.like {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#like-empty {
    display: none; /* 좋아요 여부에 따라 full or empty */
}

#like-full {
    cursor: pointer;
}

#share-box {
    display: flex;
    border: 3px solid #F4F4F4;
    border-radius: 10px;
    padding: 0px 15px;
    align-items: center;
    width: 95px;
    height: 60px;
}

#share-box:hover {
    background-color: #F4F4F4;
    cursor: pointer;
}

#share {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* 스토리&후기 바 */
.story-bar {
    grid-area: story-bar;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 30px;
}

.menu {
    border-bottom: 4px solid #DEDCDC;
}

#story {
    width: 50%;
    padding: 7px;
}

.menu:hover {
    color: #81AE64;
    border-bottom: 4px solid #81AE64;
    cursor: pointer;
}

#review {
    width: 50%;
    padding: 7px;
}

/* 스토리&후기 바디 */
.story-body {
    border: 2px solid #ffffff;
    grid-row: auto;
    grid-area: story-body;
}

/* 리워드 안내 */
.guide {
    grid-area: guide;
    grid-row: auto;
    max-width: 650px;
}

#title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    border: 3px solid #F4F4F4;
    margin-bottom: -20px;
    cursor: pointer;
}

#guide-title {
    font-size: 25px;
    margin: 20px;
}

#title-box:hover {
    background-color: #F4F4F4;
}

#polygon {
    width: 20px;
    height: 15px;
    margin: 20px;
    filter: opacity(0.5) drop-shadow(0 0 0 #0a0a0a);
}

#guide-content {
    display: none;
    font-size: 20px;
    padding: 30px 40px;
    font-weight: 100;
    background-color: #F4F4F4;
    border-radius: 0px 0px 10px 10px;
}

pre {
    white-space: pre-line; /* pre태그 내의 문장들을 영역에 맞게 자동 줄바꿈 (공백은 1개로 처리)*/
    font-family: 'Do Hyeon', sans-serif;
}

/* 리워드 선택 바 */
.reward-bar {
    grid-area: reward-bar;
    border-bottom: 4px solid #DEDCDC;
    text-align: center;
    align-items: center;
    font-size: 30px;
    padding: 7px;
}

/* 리워드 선택 바디 */
.reward-body {
    grid-area: reward-body;
}

.rewards {
    width: 300px;
    height: auto;
    padding: 5px 25px 25px;
    border-radius: 30px;
    border: 3px solid #DEDCDC;
    box-shadow: 5px 5px 5px #eee;
    margin: 0 auto;
    margin-bottom: 30px;

}

.reward-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #DEDCDC;
    margin-top: -15px;
}

.reward-title {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 10px;
}

#price {
    color: #709053;
}

#supporters {
    border-radius: 10px;
    background-color: #FFF4C9;
    padding: 5px 15px;
    font-size: 18px;
    color: #709053;
    margin-bottom: -20px;
}

#reward-name {
    margin: 20px 0px 5px 0px;
    font-size: 28px;
    font-weight: 500;
    line-height: 35px;
}

#reward-content {
    background-color: #F4F4F4;
    padding: 1px 20px;
    border-radius: 20px;
    font-size: 20px;
    margin-bottom: 5px;
}

#reward-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -20px;
}

#expected {
    font-size: 17px;
}

.funding-button {
    padding: 5px 30px;
    font-size: 25px;
    font-family: 'Do Hyeon', sans-serif;
    background-color: #81AE64;
    color: #ffffff;
    border: 4px solid #81AE64;
    border-radius: 20px;
}

.funding-button:hover {
    background-color: #ffffff;
    color: #81AE64;
    cursor: pointer;
}

/* 댓글 */
.comment {
    grid-area: reply;
    margin: 30px 0px;
}

#comment-title {
    border-bottom: 2px solid #DEDCDC;
    border-top: 2px solid #DEDCDC;
    font-size: 30px;
    padding: 15px;
}

#donation {
    color: #709053;
}

#comment-body {
    padding-bottom: 5%;
    border-bottom: 2px solid #DEDCDC;
}

#comment-container {
    display: flex;
    align-items: center;
}

#commenter {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 30px;
}

#comment-box {
    resize: none; /* 텍스트 박스 크기 고정 */
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 1px; /* 자간 */
    font-weight: 100;
    font-size: 17px;
    padding: 2%;
    background-color: #FAFAFA;
    border: none;
    border-radius: 20px;
    width: 79%;
    height: 70px;
}

#comment-box:focus {
    outline: none;
}

#mini-container {
    display: flex;
    align-items: center;
    margin: -3% 17%;
    width: 85%;
}

#count-content {
    bottom: 10%;
    font-size: 20px;
    text-align: right;
    margin-top: 20px;
    color: #81AE64;
    margin-left: 370px; /* default와의 gap */
    width: 70px;
}

#regist-comment {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 1.4rem;
    color: white;
    background-color: #81AE64;
    border-radius: 17px;
    padding: 7px 20px;
    margin-top: 20px;
    margin-left: 20px;
    border: none;
}

#regist-comment:hover {
    background-color: #C7E78B;
    cursor: pointer;
}

#comments-count {
    font-size: 30px;
    padding: 15px;
}

#total-count {
    color: #709053;
}

#flex1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -40px;
}

#flex2 {
    display: flex;
    align-items: center;
    margin-left: 170px;
}

#user-id {
    font-size: 23px;
    border-bottom: 3px solid #709053;
}

#gift {
    color : #709053;
    font-size: 20px;
    margin-left: 10px;
}

#regist-date {
    margin-right: 20px;
}

#flex3 {
    display: flex;
    align-items: center;
}

#profiles {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin: 30px;
}

#comment {
    resize: none; /* 텍스트 박스 크기 고정 */
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    font-size: 17px;
    padding: 20%;
    background-color: #FAFAFA;
    border: none;
    border-radius: 20px;
    width: 470%;
    height: 30px;
    outline: none;
}

/* 스크롤바 설정 */
#comment::-webkit-scrollbar,
#comment-box::-webkit-scrollbar {
    width: 20px;
}

/* 스크롤바 막대 설정 */
#comment::-webkit-scrollbar-thumb,
#comment-box::-webkit-scrollbar-thumb {
    background-color: #DEDCDC;
    border-radius: 10px; /* 스크롤바 둥글게 설정 */
}

/* 스크롤바 뒷 배경 설정 */
#comment::-webkit-scrollbar-track,
#comment-box::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0); /* 투명 */
}

/* 댓글 페이징 바 */
#paging-bar {
    font-family: 'Do Hyeon', sans-serif;
    font-weight: 900;
    display: flex;
    padding-top: 50px;
    justify-content: center; /* 화면 가운데로 */
}

.move {
    padding: 20px;
    font-size: 20px;
    background-color: white;
    color: #DEDCDC;
    border: none;
    cursor: pointer;
}

.move:hover {
    color : #709053;
}