@charset "UTF-8"; 

html {
    font-size: 100%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* project home ------------------------------------------------------------------------------------- */

.main-nav{

    width: 100%;
    height: 90px;
    background-color: antiquewhite;
}

.side-nav{
    width: 200px;
    height: 800px;
    background-color: azure;

}

.wrapper{

    display: flex;
    
             
}


.grid-content {
    display: grid;
    max-width: 1100px;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: -50px;
           
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap:30px;
      
}

.menu-box {
    
    box-sizing: border-box;
    background-color: #81AE64;
    width: 220px;
    height: 220px;   

    box-shadow: 3px 3px 0 1 #535353;
    

}

.grid-content div:hover {

    background-color: #C7E78B;
  
}

.menu-box:hover .menu-icon{
    color: #535353;
}
.menu-box:hover .menu-text{
    color: #535353;
}

.menu-text{
    align-items: center;
    font-size: 1.3rem;
    margin-top: 25px;
    text-align: center;
    color: aliceblue;
    font-family: Do Hyeon;
}


.menu-icon{
    display: flex;
    margin-top: 50px;
    margin-left: 75px;
    color: aliceblue;
}


/* project page ------------------------------------------------------------------------------------- */