<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/project/css/createProject.css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/src/main/resources/static//project/js/createProject.js"></script> 
    <script src="/src/main/resources/static/project/js/jquery-3.6.3.min.js"></script>
    <title>writeMakerInfo</title>
</head>
<body>
    <!-- 메이커 정보 -->
    <div class="wrapper">
        <div class="steps">
            <div class="step">
                <span>step 1</span>
                <p class="step-subject running">Maker 정보</p>
            </div>
            <div class="step">
                <span>step 2</span>
                <p class="step-subject">프로젝트 정보</p>
            </div>
            <div class="step">
                <span>step 3</span>
                <p class="step-subject">스토리 기획</p>
            </div>
            <div class="step">
                <span>step 4</span>
                <p class="step-subject">리워드 설계</p>
            </div>
            <div class="step">
                <span>step 5</span>
                <p class="step-subject">리워드 안내</p>
            </div>
            <div class="step">
                <span>step 6</span>
                <p class="step-subject">정산 확인</p>
            </div>
        </div>

        <!-- box -->
        <form id="thumbnailRegistForm" action="/thumbnail/regist" method="post" enctype="multipart/form-data"> <!-- file을 보내는 인코딩 방식 -->
            <p class="description">Maker의 정보를 입력해주세요 :)</p>
            <div class="box">
                <!-- 프로필 사진 -->
                <div class="filebox">
                    
                    <div id="profile-area">
                        <img id="profile">
                    </div>
                    <input class="upload-name" value="첨부파일" placeholder="첨부파일">
                    <label for="real-file">+</label>
                    <input type="file" id="real-file" name="attachProfile" accept="image/gif, image/jpeg, image/png">
                    <script>
                        /* 첨부 된 파일명을 보여주는 Jqeury */
                        $("#real-file").on('change',function(){
                            var fileName = $("#real-file").val();
                            $(".upload-name").val(fileName);
                            });
                    </script>
                </div>
                
            <button class="next">저장 후 다음 단계</button>
            </div>
        </form>
        









    </div>
    
</body>
</html>