@charset "UTF-8"; 

html {
    font-size: 100%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* project page ------------------------------------------------------------------------------------- */

.main-nav{

    width: 100%;
    height: 90px;
    background-color: antiquewhite;
}

.side-nav{
    width: 200px;
    height: 800px;
    background-color: azure;

}

.wrapper{

    display: flex;
    
             
}

#table-wrapper{
    
    margin-left: 30px;
    margin-top: 30px;
    width: 970px;
    padding: 0;
}

.col1{
    width: 200px;
}

.button-wrapper{
    display: flex;
    gap: 10px;
    margin-left: 212px;
    margin-top: 30px;
    margin-bottom: 100px;
    
}

.button-box{
    display: grid;
    width: 150px;
    height: 40px;
    background-color: #81AE64;
}


