@charset "UTF-8"; 

html {
    font-size: 100%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* project page ------------------------------------------------------------------------------------- */



.wrapper{

    display: flex;
    
             
}

#table-wrapper{
    
    margin-left: 30px;
    margin-top: 30px;
    width: 970px;
    padding: 0;
}

.col1{
    width: 200px;
}

.button-wrapper{
    display: flex;
    gap: 10px;
    margin-left: 310px;
    margin-top: 30px;
    margin-bottom: 100px;
    
}

.button-box{
    display: grid;
    width: 130px;
    height: 40px;
    background-color: #535353;
    border-radius: 5px;
    color:aliceblue;
}

.button-confirm{
    display: grid;
    width: 130px;
    height: 40px;
    background-color: #C7E78B;
    border-radius: 5px;
    color: #535353;
    text-align: center;
     
}

.button-confirm-text{
    margin-top: 8px;
    font-weight: bolder;
}

.button-text {
    color:aliceblue;
    text-align: center;
    margin-top: 8px;
    font-weight: bolder;
    
}

table {
    border-collapse: collapse;
    height: 50px;
}
thead{
    border: 1px solid #535353;
    background-color: #f8f8f8;
    box-shadow: 0px 3px 0 0 #9e9e9e;
           
}

th{
    border: 1px solid #d5d5d5;
    font-family: Do Hyeon;
}
td{
    border: 1px solid #d5d5d5;
    
}

.text-title{
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
    width: 90px;
    height: 40px;
    font-family: Do Hyeon;
    
}

.content-text1 {
    text-align: center;
    height: 40px;
    width: 600px;
    font-size: smaller;
}

.content-text2 {
    text-align: center;
    height: 40px;
    font-size: smaller;
}

.content-title {
    text-align: center;
    height: 40px;
    width: 90px;
    font-family: Do Hyeon;
    
}

#title-img {

    height: 100px;
}

#sub-img {

    height: 500px;
}








