@charset "UTF-8"; 

html {
    font-size: 100%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* project home ------------------------------------------------------------------------------------- */

.main-nav{

    width: 100%;
    height: 90px;
    background-color: antiquewhite;
}

.side-nav{
    width: 200px;
    height: 800px;
    background-color: azure;

}

.wrapper{

    display: flex;
    
             
}


.grid-content {
    display: grid;
    max-width: 1100px;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: -50px;
           
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap:30px;
      
}

.menu-box {
    
    box-sizing: border-box;
    background-color: #81AE64;
    width: 220px;
    height: 220px;   
    align-items: center;
    position: relative;
    border-radius: 5px;
    box-shadow: 3px 3px 1px 2px #e9e9e9;

}

.grid-content a:hover {

    background-color: #C7E78B;
  
}


.menu-text{
    align-items: center;
    font-size: 1.3rem;
    margin-top: 25px;
    text-align: center;
    color: aliceblue;
    font-family: Do Hyeon;
}


.menu-icon{
    display: flex;
    margin-top: 50px;
    margin-left: 75px;
    color: aliceblue;
}


