<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/user/pay/CSS/payComplete.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <title>payComplete</title>
</head>
<body>
    <div class="container">
        <div class="text-top">
            <h1>결제가 완료 되었습니다.</h1>
            <h3>추가 겨울 따뜻한 마음을 전하세요 !</h3>
        </div>
        <div>
            <p>네이버 페이로 1,000원 결제 완료하였습니다.</p>
            <p>결제 완료 시간 2023-03-01-23:10:03</p>
        </div>
        <div class="text-body">
            <h1 class="togather">To-Gather와 함께 동행해주세여 감사해요!</h1>
            <span class="asd">결제 및 환불은 마이페이지에서 가능합니다.</span>
        </div>
        <div class="text-foot">
            <h2 class="pjIntro">김민정님! To-Gather와 함께 동행해요!</h2>
            <div>
                <div class="imgBox">
                    <img src="/src/main/resources/static/user/pay/images/v1_649.png">
                </div>
                <h3 class="pjTitle">우리 아이가 달라졌어요</h3>
                <h4 class="pjPrice">1,000원</h4>
            </div>
        </div>
    </div>
</body>
</html>