<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/user/pay/CSS/refund.css" type="text/css"> 
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <title>refund</title>
</head>
<body>
    <div class="container">
        <div class="text-top">
            <h1>후원 취소를 원하시나요?</h1>
        </div>
        <div>
            <div class="outLIne">
                <br><br>
                <div class="Inline">
                    <br>
                    <img src="/src/main/resources/static/user/pay/images/v5_74.png">
                </div>
            </div>
        </div>
        <div>
            <h2>초미세먼지 반응 인테리어 무드등, 휘랑</h2>
            <h2 class="pjTitle">To-Gather와 함께 동행해주세요!</h2>
            <h2 class="body-text">후원자님의 따듯한 격러는 누군가에는 큰 기회가 됩니다.</h2>
        </div>
        <div>
            <h3>신중하게 고민하고 결정해주세요</h3>
        </div>
        <div class="body-foot">
            <input class="btn mbtn" type="button" value="환불 신청">
            <input class="btn" type="button" value="닫기">
        </div>
    </div>
</body>
</html>