<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/user/pay/CSS/share.css" type="text/css"> 
    <title>share</title>
</head>
<body>
    <h1>공유하기</h1>
    <div class="container">
        <div class="imgbox">
            <div class="img">
                <div class="first">
                    <a href="https://nid.naver.com/nidlogin.login?mode=form&url=https%3A%2F%2Fwww.naver.com">
                        <img src="/src/main/resources/static/user/pay/images/naver1.png" alt="네이버"><br><h3>&nbsp;&nbsp;&nbsp;네이버</h3>
                    </a>
                </div>
                <div class="second"> 
                    <a href="https://accounts.google.com/v3/signin/identifier?dsh=S-922251627%3A1678860897278339&authuser=0&continue=https%3A%2F%2Fmyaccount.google.com%2F%3Futm_source%3Dsign_in_no_continue%26pli%3D1&ec=GAlAwAE&hl=ko&service=accountsettings&flowName=GlifWebSignIn&flowEntry=AddSession">
                        <img src="/src/main/resources/static/user/pay/images/Google-Icon-PNG_rwscww.png"><br><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;구글</h3>
                    </a>
                </div>
                
            
            </div>
        </div>
    </div>
</body>
</html>