<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project_page</title>
    <link rel="stylesheet" href="/src/main/resources/static/admin_project/CSS/admin_project_page.css" type="text/css">
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
</head>
<body>

    <div class="main-nav">main_nav</div>
    <div class="body-content wrapper">
        <div class="side-nav">side-nav</div>
        <div class="content-table">
            <table id="table-wrapper" border="1">
                <thead>
                    <th colspan="2">항목</th>
                    <th>내용</th>
                    <th>비고</th>
                </thead>

                <tbody>
                    <tr>
                        <td colspan="2">번호</td>
                        <td>PJ232222221</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td rowspan="5">메이커정보</td>
                        <td>이름</td>
                        <td>기록제작소</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>email</td>
                        <td>greedy@gmail.com</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>휴대전화</td>
                        <td>010-8888-8888</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>주소</td>
                        <td>종로구 555-55</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>소개</td>
                        <td>기록 제작소의 소개입니다.</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td rowspan="4">프로젝트 정보</td>
                        <td>펀딩시작일</td>
                        <td>2023-22-22</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>펀딩종료일</td>
                        <td>2023-22-22</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>목표금액</td>
                        <td>2,222,985</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>프로젝트분야</td>
                        <td>후원</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td rowspan="4">스토리</td>
                        <td>제목</td>
                        <td>생분해 나무로 만든 숲내음 다이어리</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>소개</td>
                        <td>제로웨이스트와 동네의 환경을 지키는 거점</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>대표이미지</td>
                        <td>이미지 이미지 이미지</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>상세소개</td>
                        <td>상세소개와 이미지가 들어가는 공간입니다. HTML로 불러들일 예정입니다.</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td rowspan="5">리워드</td>
                        <td>리워드1</td>
                        <td>마스터블록</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>금액</td>
                        <td>25,000</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>리워드2</td>
                        <td>222,985</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>금액</td>
                        <td>222,985</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>배송비</td>
                        <td>2,500</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td rowspan="4">정산서류</td>
                        <td>사업자등록증</td>
                        <td>Y</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>신분증 사본</td>
                        <td>Y</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>통장사본</td>
                        <td>Y</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>기타서류</td>
                        <td>Y</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td colspan="2">리워드 설명</td>
                        <td>리워드 관련 설명입니다~~~~~~~~~~~</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td colspan="2">후기</td>
                        <td>EP2164512212</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td rowspan="4">프로젝트 상태 변경 일시</td>
                        <td>승인</td>
                        <td>2023-03-22</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>진행</td>
                        <td>2023-03-22</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>반려</td>
                        <td>2023-03-22</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>중단</td>
                        <td>2023-03-22</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td colspan="2">메인페이지 배너 노출</td>
                        <td><input type="checkbox"></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td colspan="2">오늘의 프로젝트</td>
                        <td><input type="checkbox"></td>
                        <td></td>
                    </tr>
                   
                </tbody>
  
            </table>


            <div class="button-wrapper">
                
                    <div class="button-box"><p>승인</p></div>
                    <div class="button-box"><p>반려</p></div>
                    <div class="button-box"><p>중단</p></div>
                    <div class="button-box">확인</div>
                    <div class="button-box">취소</div>
                  
            </div>


        </div>
        

    






















    </div>







    
</body>
</html>