.wrapper {
    max-width: 1100px;
    padding-top: 120px;
    margin: 0 auto;
    justify-content: center;
}

body {
    /* display: flex; */
    font-family: 'Do Hyeon', sans-serif;
    font-weight: normal;
    color: #535353;
    
}


.menu-link {
    text-decoration: none;
    color: #535353;
}

.pwd:hover {
    background-color: #C7E78B;
}

.btn-search:hover {
    background-color: #C7E78B;
}

.btn-profile:hover {
    background-color: #C7E78B;
}

.btn-myInfo:hover {
    background-color: #C7E78B;
}

.menu-link:hover {
    background-color: #81AE64;
 }

 .aside ul li {
    list-style-type: none;
    font-size:25px;
    font-weight: normal;
  
}

.aside {

    width: 250px;
    float: left;
    margin-right: 200px;
}

.coupon {
    display: flex;
    justify-content: center;
    align-items: center; 
}
.have-list {
    display: flex;
    justify-content:space-between;
    /* width: 700px; */
    height: 50px;
    background-color: #F4F4F4;
    
}

.outline {
    margin-left: auto; 
    margin-right: 5%;
}

.list {
    display: flex;
    justify-content:space-between;
}


