div {
    text-align: center;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
}

.container {
    display: grid;
    width: 1140px;
    margin: auto;
    place-items: center;
}

.text-top {
    text-align: center;
}

.outLIne {
    width: 700px;
    height: 430px;
    background-color: #d9d9d9;
    margin-top: 50px;
}

.Inline {
    width: 600px;
    height: 340px;
    background-color: white; 
    margin-left: 50px;   
}

img {
    width: 500px;
    height: 300px;
    margin: auto;
}
.pjTitle {
    color: #81AE64;
}

.body-text {
    color: #A8A2A2;
}

.body-foot {
    width: 1140px;
}

.btn {
    background-color: #81AE64;
    width: 150px;
    height: 70px;
    border-color: white;
    color: white;
    border-radius: 10%;
    font-size: 1.4em;
    font-weight: 700;
}

.mbtn {
    margin-left: 45%;
}