<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/myPage/CSS/myPage.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <title>myPage</title>
</head>
<body>
    
    <div class="aside">
        <ul>
            <li><a class="menu-link" href="#myInfo">내 정보</a></li>
            <br>
            <li><a class="menu-link" href="#">보유 쿠폰</a></li>
            <br>
            <li><a class="menu-link" href="#">좋아요한 프로젝트</a></li>
            <br>
            <li><a class="menu-link" href="#">후원한 프로젝트</a></li>
            <br>
            <li><a class="menu-link" href="#">나의 프로젝트</a></li>
            <br>
            <br>
            <li><a class="menu-link" href="#">로그아웃</a></li>
            <br>
            <li><a class="menu-link" href="#withdrawal">회원탈퇴</a></li>
        </ul>
    </div>

    <div class="grid">
    <div class="item">
        <p>
            <button class="mypage" id="mypage" type="button">내 정보</button>
        </p>
    </div>

    <div class="item">
        <p>
            <button class="mypage" id="mypage" type="button">보유 쿠폰</button> 
        </p>
    </div>

    <div class="item">
        <p>
            <button class="mypage" id="mypage" type="button">좋아요한 프로젝트</button> 
        </p>
    </div>

    <div class="item">
        <p>
            <button class="mypage" id="mypage" type="button">후원한 프로젝트</button>
        </p>
    </div>

    <div class="item">
        <p>
            <button class="mypage" id="mypage" type="button">나의 프로젝트</button>
        </p>
    </div>
</div>





</body>
</html>