<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/user/myPage/CSS/myPage.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <title>myPage</title>
</head>
<body>
    
    <div class="aside">
        <ul>
            <li><a class="menu-link" href="#myInfo">내 정보</a></li>
            <br>
            <li><a class="menu-link" href="#">보유 쿠폰</a></li>
            <br>
            <li><a class="menu-link" href="#">좋아요한 프로젝트</a></li>
            <br>
            <li><a class="menu-link" href="#">후원한 프로젝트</a></li>
            <br>
            <li><a class="menu-link" href="#">나의 프로젝트</a></li>
            <br>
            <br>
            <li><a class="menu-link" href="#">로그아웃</a></li>
            <br>
            <li><a class="menu-link" href="#withdrawal">회원탈퇴</a></li>
        </ul>
    </div>

    <div class="grid">
    <div class="item">
            <img src="/src/main/resources/static/user/myPage/images/내 정보.png">
           
        <p>내 정보</p>
    </div>

    <div class="item">
           <img src="/src/main/resources/static/user/myPage/images/보유쿠폰.png">
        <p>보유 쿠폰</p>
    </div>

    <div class="item">
           <img src="/src/main/resources/static/user/myPage/images/좋아요.png">
        <p> 좋아요한 프로젝트 </p>
    </div>

    <div class="item">
            <img src="/src/main/resources/static/user/myPage/images/후원.png">
        <p> 후원한 프로젝트 </p>
    </div>

    <div class="item">
           <img src="/src/main/resources/static/user/myPage/images/나의 프로젝트.png">
        
           <p>나의 프로젝트</p>
    </div>
</div>





</body>
</html>